@keyframes animate {
    0% {
      opacity: 0;
      transform: scale(1);
    }
  
    25%,
    75% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      transform: scale(3);
    }
  }

  @keyframes baniere{
    0% {
      height:90vh;
      transform:translateY(-90vh)
    }

    100%{
      
      transform: translateY(0%);
    }
  };


  @keyframes reverse{
    0% {
      
      transform:translateY(100%)
    }

    100%{
      
      transform: translateY(0%);
      
    }
  };
  
   

  
