
// <link rel="preconnect" href="https://fonts.gstatic.com" />
//     <link
//       href="https://fonts.googleapis.com/css2?family=Goldman&family=Montserrat:wght@700&family=Roboto&display=swap"
//       rel="stylesheet"
//     />
$montserrat : 'Montserrat', sans-serif;
$roboto :'Roboto', sans-serif;
$goldman :'Goldman', cursive;
$dancing :'Dancing Script', cursive;

$couleur : linear-gradient(to right,#5e5d5d, #9e9e9e , #5e5d5d);