.page-enter-active {
  animation: bounce-in 0.2s reverse;
}
.page-leave-active {
  animation: bounce-in 0.2s;
}

@keyframes bounce-in {
  0%{
    transform: translate3d(0,0,0);
    opacity:1;
  }
  
  100% {
    transform: translate3d(800px,0,0);
    opacity:0;
  }
}


